@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        height: 100vh;
    }
    #root{
        height: 100%;
    }
}
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }